* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a {
  text-decoration: none;
}

ul, ol {
  list-style-type: none;
}

h1, h2, h3, h4, h5, h6, p {
  line-height: 0.8;
}

.primary-menu {
  /* nav bar part end*/
  /*mega menu*/
  /* mega menu end*/
  /*mega menu 2 start*/
  /* mega menu2 end*/
}

.primary-menu .from1 .form-control {
  width: 600px;
  border-radius: 50px;
}

.primary-menu .from1 {
  position: relative;
}

.primary-menu .form-control:hover {
  border-color: #ff3834;
}

.primary-menu .from1 .btn {
  position: absolute;
  right: 10px;
}

.primary-menu .from1 .btn i:hover {
  color: #ff3834;
}

.primary-menu .form-control:focus {
  border-color: none;
  outline: 0;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.primary-menu .btn-outline-success {
  color: #000;
  border-color: none;
  border: none;
}

.primary-menu *, .primary-menu ::before {
  cursor: pointer;
}

.primary-menu .btn-check:focus + .btn-outline-success, .primary-menu .btn-outline-success:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
}

.primary-menu .but1 .btn {
  font-size: 16px;
  text-transform: capitalize;
}

.primary-menu .but2 .btn {
  font-size: 16px;
  text-transform: capitalize;
  background-color: #ff3834;
  color: #fff;
  padding: 8px 23px;
  border-radius: 20px;
}

.primary-menu .but2 .btn i {
  margin-right: 15px;
}

.primary-menu .btn-outline-success:hover {
  display: none;
}

.primary-menu .bars i {
  margin-right: 25px;
  cursor: pointer;
  font-size: 25px;
}

.primary-menu .btn-check:focus + .btn, .primary-menu .btn:focus {
  outline: 0;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.primary-menu .nav-item {
  padding: 0 10px;
  position: relative;
}

.primary-menu .nav-item:hover > .mega-menu {
  visibility: visible;
  opacity: 1;
  -webkit-transform: translateX(-50%) scaleY(1);
          transform: translateX(-50%) scaleY(1);
}

.primary-menu .mega-menu {
  position: absolute;
  top: 48px;
  left: 50%;
  -webkit-transform-origin: top;
          transform-origin: top;
  -webkit-transform: translateX(-50%) scaleY(0);
          transform: translateX(-50%) scaleY(0);
  width: 480px;
  background-color: #f1f1f1;
  padding: 15px 15px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: all linear .3s;
  transition: all linear .3s;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

.primary-menu .inner-mega {
  margin-bottom: 30px;
}

.primary-menu .inner-mega h4 {
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  color: #ff5500;
  text-transform: capitalize;
}

.primary-menu .mega-body ul li {
  padding: 5px 0;
}

.primary-menu .mega-body ul li a {
  font-family: 'Roboto', sans-serif;
  font-size: 13px;
  color: #666;
  font-weight: 400;
  -webkit-transition: all linear .3s;
  transition: all linear .3s;
  text-transform: capitalize;
}

.primary-menu .mega-body ul li a:hover {
  color: red;
  padding-left: 8px;
}

.primary-menu ol, .primary-menu ul {
  padding-left: 0;
}

.primary-menu .nav-item {
  padding: 0 10px;
  position: relative;
}

.primary-menu .nav-item:hover > .mega-menu2 {
  visibility: visible;
  opacity: 1;
  -webkit-transform: translateX(-50%) scaleY(1);
          transform: translateX(-50%) scaleY(1);
}

.primary-menu .mega-menu2 {
  position: absolute;
  top: 48px;
  left: 50%;
  -webkit-transform-origin: top;
          transform-origin: top;
  -webkit-transform: translateX(-50%) scaleY(0);
          transform: translateX(-50%) scaleY(0);
  width: 200px;
  background-color: #f1f1f1;
  padding: 15px 15px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: all linear .3s;
  transition: all linear .3s;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

.primary-menu .inner-mega {
  margin-bottom: 30px;
}

.primary-menu .inner-mega h4 {
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  color: #ff5500;
  text-transform: capitalize;
}

.primary-menu .mega-body ul li {
  padding: 5px 0;
}

.primary-menu .mega-body ul li a {
  font-family: 'Roboto', sans-serif;
  font-size: 13px;
  color: #666;
  font-weight: 400;
  -webkit-transition: all linear .3s;
  transition: all linear .3s;
  text-transform: capitalize;
}

.primary-menu .mega-body ul li a:hover {
  color: red;
  padding-left: 8px;
}

.primary-menu ol, .primary-menu ul {
  padding-left: 0;
}

.primary-menu .side-menu li {
  list-style-type: none;
}

.primary-menu .nav-link:focus, .primary-menu .nav-link:hover {
  color: #ff3834;
}

.navbar-expand-lg {
  border-bottom: 1px solid #ddd;
}

.nav-item .nav-link {
  color: #000;
}

.navbar-brand {
  margin-right: auto;
  line-height: 1px;
}

.navbar-toggler:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
}

.navbar-light .navbar-toggler {
  border: none !important;
}

@media (max-width: 767px) {
  .primary-menu .container-fluid {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .primary-menu .navbar-brand {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .primary-menu .navbar-brand img {
    width: 100px;
  }
  nav .from1 .form-control {
    display: none;
  }
}

.sidebar {
  width: 300px;
  height: 100vh;
  position: fixed;
  left: 0;
  z-index: 9999999;
  background-color: rgba(0, 0, 0, 0.609);
  -webkit-transition: all linear .3s;
  transition: all linear .3s;
  padding: 30px;
}

.side-menu h3 {
  line-height: 24px;
  font-size: 12px;
  text-transform: capitalize;
  font-family: 'Montserrat', sans-serif;
  color: #fff;
}

.side-menu a {
  display: block;
  line-height: 24px;
  font-size: 14px;
  text-transform: capitalize;
  font-family: 'Montserrat', sans-serif;
  color: #fff;
  margin: 10px 0;
}

.side-menu i {
  margin-right: 10px;
  color: #ff3834;
}

.side-menu .nav-item {
  position: relative;
}

.side-menu .nav-item.nav-link, .side-menu .nav-itemi {
  padding: 0;
  color: #ff3834;
}

.side-menu .nav-item:hover > .mega-menu2 {
  visibility: visible;
  opacity: 1;
  -webkit-transform: translateX(-50%) scaleY(1);
          transform: translateX(-50%) scaleY(1);
}

.side-menu .mega-menu2 {
  position: absolute;
  top: 25px;
  left: 50%;
  -webkit-transform-origin: top;
          transform-origin: top;
  -webkit-transform: translateX(-50%) scaleY(0);
          transform: translateX(-50%) scaleY(0);
  width: 200px;
  background-color: #f1f1f1;
  padding: 15px 15px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: all linear .3s;
  transition: all linear .3s;
  border-radius: 10px;
}

.side-menu .inner-mega {
  margin-bottom: 30px;
}

.side-menu .inner-mega h4 {
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  color: #ff5500;
  text-transform: capitalize;
}

.side-menu .nav-item .nav-link {
  padding: 0;
  color: #fff;
  cursor: pointer;
}

.side-menu .mega-body ul li {
  padding: 5px 0;
}

.side-menu .mega-body ul li a {
  font-family: 'Roboto', sans-serif;
  font-size: 13px;
  color: #666;
  font-weight: 400;
  -webkit-transition: all linear .3s;
  transition: all linear .3s;
  text-transform: capitalize;
}

.side-menu .mega-body ul li a:hover {
  color: red;
  padding-left: 8px;
}

.side-menu ol,
.side-menu ul {
  padding-left: 0;
}

.side-menu.one {
  margin-top: 30px;
  border-bottom: 1px solid #ff5500;
  border-width: 100% !important;
}

.nav-item .nav-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav-link .fa-angle-down {
  margin-left: auto;
}

.side-menu2 a {
  line-height: 24px;
  font-size: 14px;
  text-transform: capitalize;
  font-family: 'Montserrat', sans-serif;
  color: #fff;
  margin: 5px 0;
  padding-right: 10px;
}

.side-menu2.two {
  margin-top: 20px;
}

.side-menu3 a {
  line-height: 24px;
  font-size: 10px;
  font-family: 'Montserrat', sans-serif;
  color: #fff;
  margin: 5px 0;
  padding-right: 10px;
}

.side-menu3.there {
  margin-top: 20px;
}

.openmenu {
  left: -300px;
}

.nav-link:focus, .nav-link:hover {
  color: none;
}
