@import "../variable/fontcolor";
@import "../variable/backgroundbg";

.sidebar {
    width: 300px;
    height: 100vh;
    position: fixed;
    left: 0;
    z-index: 9999999;
    background-color: rgba(0, 0, 0, 0.609);
    transition: all linear .3s;
    padding: 30px;

}

.side-menu {
    h3 {
        line-height: 24px;
        font-size: 12px;
        text-transform: capitalize;
        font-family: 'Montserrat', sans-serif;
        color: $sidebaritemcolor;
    }

    a {
        display: block;
        line-height: 24px;
        font-size: 14px;
        text-transform: capitalize;
        font-family: 'Montserrat', sans-serif;
        color: $sidebaritemcolor;
        margin: 10px 0;
        
    }
    i{
        margin-right: 10px;
        color: $sidebariconcolor;
    }
    .nav-item {
 
        position: relative;
        &.nav-link,&i {
            padding: 0;
            color: $sidebariconcolor;
        }
        
    }

    .nav-item:hover>.mega-menu2 {
        visibility: visible;
        opacity: 1;
        transform: translateX(-50%) scaleY(1);
    }

    .mega-menu2 {
        position: absolute;
        top: 25px;
        left: 50%;
        transform-origin: top;
        transform: translateX(-50%) scaleY(0);
        width: 200px;
        background-color: #f1f1f1;
        padding: 15px 15px;
        box-sizing: border-box;
        visibility: hidden;
        opacity: 0;
        transition: all linear .3s;
        border-radius: 10px;
    }

    .inner-mega {
        margin-bottom: 30px;
    }

    .inner-mega h4 {
        font-family: 'Roboto', sans-serif;
        font-size: 20px;
        color: #ff5500;
        text-transform: capitalize;
    }
    .nav-item .nav-link {
        padding: 0; 
        color: #fff;
        cursor: pointer;
    }
    .mega-body ul li {
        padding: 5px 0;
    }

    .mega-body ul li a {
        font-family: 'Roboto', sans-serif;
        font-size: 13px;
        color: #666;
        font-weight: 400;
        transition: all linear .3s;
        text-transform: capitalize;
    }

    .mega-body ul li a:hover {
        color: red;
        padding-left: 8px;
    }

    ol,
    ul {
        padding-left: 0;
    }
    &.one {
        margin-top: 30px;
        border-bottom: 1px solid #ff5500;
        border-width: 100%!important;
    }

}
    .nav-item {
        .nav-link {
            display: flex;
            align-items: center;
        }
    }
    .nav-link .fa-angle-down {
        margin-left: auto;
    }
    .side-menu2  {
    a{
        line-height: 24px;
        font-size: 14px;
        text-transform: capitalize;
        font-family: 'Montserrat', sans-serif;
        color: $sidebaritemcolor;
        margin: 5px 0;
        padding-right: 10px;
    }
    &.two {
        margin-top: 20px;
        

   }
}
.side-menu3  {
    a{
     line-height: 24px;
     font-size: 10px;
     font-family: 'Montserrat', sans-serif;
     color: $sidebaritemcolor;
     margin: 5px 0;
     padding-right: 10px;
    }
    &.there {
     margin-top: 20px;
     
 
    }
 }
 

.openmenu {
    left: -300px;
}


.nav-link {

    &:focus,
    &:hover {
        color: none;
    }
}